In [99]:
from sklearn import tree
import numpy as np
import pandas as pd

# Read the CSV and Perform Basic Data Cleaning

In [100]:
df= pd.read_csv("greenhouse-gas-emissions-by-sector-cleaned.csv")
# Drop the null columns where all values are null
df = df.dropna(axis='columns', how="any")
# Drop the null rows
#df = df.dropna()

df.head()

,Country,Year,Other sources (tonnes),Waste (tonnes),Industry (tonnes),Residential & commercial (tonnes),Agriculture (tonnes),Forestry (tonnes),Land use sources (tonnes),Energy (tonnes)
0,United Arab Emirates,1990,310527.5,444504.5,2785570.6,306752.7,497680.5,-1191666.7,0.0,56556074.5
1,United Arab Emirates,1991,331608.4,471386.3,3177115.8,288389.3,559625.6,-1191666.7,0.0,63231831.6
2,United Arab Emirates,1992,334097.6,500099.0,3265566.2,280010.3,621645.6,-1191666.7,0.0,61630923.9
3,United Arab Emirates,1993,355901.4,532860.7,3267567.5,816398.0,661976.1,-1191666.7,0.0,62711303.6
4,United Arab Emirates,1994,368164.2,565969.6,3578521.7,948585.1,727983.6,-1191666.7,0.0,69018296.4

# Select your features (columns)

In [101]:
# Set features. This will also be used as your x values.
X =df[["Agriculture (tonnes)","Industry (tonnes)", Forestry (tonnes)[[]]
y =df["Energy (tonnes)"].values

print(X.shape, y.shape)

(2656, 2) (2656,)

# Create a Train Test Split

In [102]:
# Split the data into training and testing

### BEGIN SOLUTION
from sklearn.model_selection import train_test_split

X_train, X_test,y_train, y_test = train_test_split(X, y, random_state=42)

In [103]:
y_train

array([1.94183566e+07, 2.45230700e+05, 8.70255250e+06, ...,
       2.84954669e+07, 2.41741876e+08, 3.96496690e+06])

##DECISION TREE

In [104]:
#clf = tree.DecisionTreeClassifier()
#clf = clf.fit(X_train, y_train)
#clf.score(X_test, y_test)

In [105]:
import numpy as np
from sklearn                        import metrics, svm
from sklearn.linear_model           import LogisticRegression
from sklearn import preprocessing
from sklearn import utils

In [106]:
#clf = LogisticRegression()
#clf.fit(X_train,y_train)

In [107]:
lab_enc = preprocessing.LabelEncoder()
training_scores_encoded = lab_enc.fit_transform(y_train)
print(training_scores_encoded)
print(utils.multiclass.type_of_target(y_train))
print(utils.multiclass.type_of_target(y_train.astype('int')))
print(utils.multiclass.type_of_target(training_scores_encoded))

[1017  122  811 ... 1109 1780  628]
continuous
multiclass
multiclass

In [111]:
#clf = LogisticRegression()
#clf.fit(X_train, training_scores_encoded)
#print("LogisticRegression")
#print(clf.predict(prediction_data_test))

In [109]:
#from sklearn.ensemble import RandomForestClassifier
#sklearn.ensemble.RandomForestRegressor
from sklearn.ensemble import RandomForestRegressor

rf = RandomForestRegressor(n_estimators=200)
rf = rf.fit(X_train, y_train)
rf.score(X_test, y_test)

0.9955239687242604

In [110]:
sorted(zip(rf.feature_importances_,X), reverse=True)

[(0.9331768163389285, 'Industry (tonnes)'),
 (0.0668231836610714, 'Agriculture (tonnes)')]

# Train the Model